<div class="container" #container>
  <h1 style="text-align: center;" class="my-3">Donors</h1>
    <div class="row d-flex justify-content-center align-items-center" *ngIf="filterDonors.length > 0">
        <div class="col-12" *ngFor="let donor of filterDonors">
            <div class="drop__card" (click)="singleDonor(donor.id)">
                <div class="drop__data">
                  <img [src]="donor.data.photoURL" alt="Perfil_01" class="drop__img" />
                  <div>
                    <h1 class="drop__name">{{donor.data.displayName}}</h1>
                    <span class="drop__profession">{{donor.data.mobile}}</span>
                  </div>
                </div>
              </div>
        </div>
    </div> 
</div>
    <div class="no-tem mt-3" *ngIf="filterDonors.length === 0">
        <div class="content">
          <img src="../assets/Saly-42.png" width="250">
          <p>No donors found.
          </p>
        </div>
      </div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="container"></ngx-loading>
<a  class="float" (click)="open(search)">
    <i class="fa fa-search my-float" aria-hidden="true"></i>
</a>
<ng-template #search let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title text-center">Search donor near by you</h4>
    </div>
    <div class="modal-body">
        <div class="input-group my-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">District</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01" (change)="onSelectDistrictType($event.target.value , i)" [(ngModel)]="selectedDistrict">
              <option selected value="All">All</option>
              <option *ngFor="let data of AndraPradesh" [value]="data">{{data}}</option>
            </select>
        </div>
        <div class="input-group my-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Blood group</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01" (change)="onSelectBloodGroupType($event.target.value)" [(ngModel)]="selectedBloodGroup">
              <option selected disabled>All</option>
              <option value="A+">A+</option>
              <option value="A-">A-</option>
              <option value="B+">B+</option>
              <option value="B-">B-</option>
              <option value="o+">o+</option>
              <option value="o-">o-</option>
              <option value="AB+">AB+</option>
              <option value="AB-">AB-</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="reset()">Reset</button>

      <button type="button" class="btn btn-primary" (click)="filterList()">Search</button>
    </div>
  </ng-template>
