<div class="container" id="container">
    <div class="form-container sign-up-container">
      <form [formGroup]="signupForm" >
        <div *ngIf="showsignUpVerify">
          <h1 class="mb-3">Verify OTP</h1>
          <input type="text" placeholder=" Verify OTP" [(ngModel)]="verificationCode" [ngModelOptions]="{standalone: true}"/>
          <a style="text-decoration: underline;">Re-send code</a><br>
          <button (click)="verifySignUpCode()" class="mt-2">Verify</button>
        </div>
        <div *ngIf="!showsignUpVerify">
          <h1 class="mb-3">Sign Up</h1>
          <input type="text" placeholder="Name" formControlName="name"/>
          <input type="email" placeholder="Email" formControlName="email"/>
          <input type="mobile" placeholder="Mobile" formControlName="mobile"/>
          <button  (click)="onSignUp(signupForm)">Sign Up</button>  
        </div>
      </form>
    </div>
    <div class="form-container sign-in-container">
      <form [formGroup]="signinForm">
        <div *ngIf="!showLoginVerify">
          <h1 class="mb-3">Sign In</h1>
          <input type="text" placeholder="Mobile" formControlName="mobile"/>
          <button class="mt-4" (click)="onSignIn(signinForm)">Sign In</button>  
        </div>
        <div *ngIf="showLoginVerify">
          <h1 class="mb-3">Verify OTP</h1>
          <input type="text" placeholder=" Verify OTP" [(ngModel)]="verificationCode" [ngModelOptions]="{standalone: true}"/>
          <a style="text-decoration: underline; margin-bottom: 5px;">Re-send code</a><br>
          <button (click)="verifyLoginCode()" class="mt-2">Verify</button>
        </div>
      </form>
      
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Welcome Back!</h1>
          <p>Please login with your personal info</p>
          <button class="ghost" id="signIn">Sign In</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>Hello, Friend!</h1>
          <p>Enter your personal details and start your journey with us</p>
          <button class="ghost" id="signUp">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
  <div id="recaptcha-container"></div>